VITE_FIREBASE_API_KEY=AIzaSyDFSpJIScU4hsnCc21vGR_H1HbfO0XslbM
VITE_FIREBASE_AUTH_DOMAIN=jump-c9680.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jump-c9680
VITE_FIREBASE_APP_ID=1:988217368182:web:47bfa7f11327b4e2fc4957